<%= form_for(@experiment) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label( :name ) %>
      <%= f.text_field( :name, :size => 32 ) %>
    </div>

    <div class="form-group">
      <%= f.label( :description ) %>
      <%= f.text_area( :description, :size => "60x10" ) %>
    </div>

    <div class="form-group">
      <%= f.label( :winner_id ) %>
      <%= f.text_field( :winner_id, :size => 8 ) %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
