<p id="notice"><%= notice %></p>

<h1><%= t( :experiment, :scope => :split_cat ) %></h1>
<%= experiment_info( @experiment ) %>

<h2><%= t( :report, :scope => :split_cat ) %></h2>
<%= experiment_report( @experiment ) %>
<%= experiment_csv_link( @experiment ) %>

<h2><%= t( :hypotheses, :scope => :split_cat ) %></h2>
<%= experiment_hypothesis_list( @experiment ) %>

<h2><%= t( :goals, :scope => :split_cat ) %></h2>
<%= experiment_goal_list( @experiment ) %>

