<p id="notice"><%= notice %></p>

<h1>Experiment</h1>
<%= experiment_info( @experiment ) %>

<h2>Report</h2>
<%= experiment_report( @experiment ) %>
<%= experiment_csv_link( @experiment ) %>

<h2>Hypotheses</h2>
<%= experiment_hypothesis_list( @experiment ) %>

<h2>Goals</h2>
<%= experiment_goal_list( @experiment ) %>

<%= link_to 'Edit', edit_experiment_path( @experiment ) %>
